<h2>links</h2>
<h3>my links & socials</h3>
<div class="flex">
    <div class="website_button">
        <h4>website button</h4>
        <label for="button code">feel free to link to my site! 
        <br>you're welcome to hotlink my button, too.</label>
        <br>
        <img src="/cats/img/meowpricot_button.gif" alt="">
        <br>
        <textarea id="button code" style="width: 88px; height: 31px; resize: none;" onclick="focus(); select()">&lt;a href=&quot;<a href="https://meowpricot.art">https://meowpricot.art</a>&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;<a href="https://meowpricot.art/cats/img/meowpricot_button.gif">https://meowpricot.art/cats/img/meowpricot_button.gif</a>&quot; alt=&quot;button leading to meowpricot.art&quot;&gt;&lt;/a&gt;</textarea>
    </div>
    <div class="socials">
        <h4>socials / links</h4>
        (active)
        <br>
        <a href="https://bsky.app/profile/meowpricot.art">bsky (@meowpricot.art)</a>
        <br>
        <a href="https://vgen.co/meowpricot">vgen (@meowpricot)</a>
        <br>
        <a href="https://www.tumblr.com/meowpricot">art tumblr (@meowpricot)</a>
        <br>
        <a href="https://www.tumblr.com/sillypricot/">personal tumblr (@sillypricot)</a>
        <br>
        <a href="https://au.pinterest.com/meowpricot/">pinterest (@meowpricot)</a>
        <br>
        <a href="https://github.com/meowpricot">github (@meowpricot)</a>
        <br>
        <a href="mailto:em@meowpricot.art">email (em(at)meowpricot(dot)art)</a>
        <br><br>
        <details>
            <summary>(inactive)</summary>
        <a href="https://www.instagram.com/meowpricot/">instagram (@meowpricot)</a>
        <br>
        <a href="https://www.tiktok.com/@meowpricot">tiktok (@meowpricot)</a>
        <br>
        <a href="https://www.pixiv.net/en/users/14868857">pixiv (@meowpricot)</a>
        </details>
    </div>
</div>