<h2>navigation</h2>
<h3>sitely</h3>
<a href="/">index</a>
<a href="/sitemap">sitemap</a>
<a href="/accessibility">accessibility</a>
<a href="/credits">credits</a>
<a href="/guestbook">guestbook</a>
<h3>me</h3>
<a href="/about">about</a>
<a href="/blog">blog</a>
<a href="/shrines">shrines</a>
<h2>link me</h2>
<div class="center">
<label for="button code"><span class="small">hotlink <strong>OK</strong></span></label>
<br>
<img src="/cats/img/meowpricot_button.gif" alt="">
<textarea id="button code" style="width: 88px; height: 31px; resize: none;" onclick="focus(); select()">&lt;a href="https://meowpricot.art" target="_blank"&gt;&lt;img src="https://meowpricot.art/cats/img/meowpricot_button.gif" alt="button leading to meowpricot.art"&gt;&lt;/a&gt;</textarea>
</div>
<h2>featured art</h2>
<div class="center">
<img id="latest_art" src="/cats/art/emmadreamdreamer.png" alt="">
</div>