<div class="flex">

    <div class="webrings">
        <h3>webrings</h3>
        <!-- no AI -->
        <div style="text-align:center">
            <a href="https://baccyflap.com/noai/?prv&s=pet" target="_top">« prev</a> |
            <a href="https://baccyflap.com/noai" target="_blank">no ai webring</a>
            <a style="font-size:60%" href="https://baccyflap.com/noai/?rnd" target="_top">(random)</a> |
            <a href="https://baccyflap.com/noai/?nxt&s=pet" target="_top">next »</a>
        </div>
        <!-- sapphic -->
        <div id="sapphicring1" class="center">
            <a href="https://sunnishinez.neocities.org/webring/sapphicring"><img
                src="https://sunnishinez.neocities.org/webring/sapphic/swindex.png" alt="sapphic ring index" /></a><br />
            <a href="https://sunnishinez.neocities.org/webring/sapphicring?action=previous"><img
                src="https://sunnishinez.neocities.org/webring/sapphic/swleft.png" alt="sapphic ring left" /></a>
            <a href="https://sunnishinez.neocities.org/webring/sapphicring?action=random">random</a>
            <a href="https://sunnishinez.neocities.org/webring/sapphicring?action=next"><img
                src="https://sunnishinez.neocities.org/webring/sapphic/swright.png" alt="sapphic ring right" /></a>
        </div>
        <br>
        <h4>pending</h4>
        <br>
        <div class="center">
            <!-- catfolk -->
            <script src="https://snewberry.neocities.org/catfolk/webstring.js"></script>
        </div>
    </div>

    <div class="cliques">
        <h3>cliques</h3>
        <div class="center">
        <!-- made by a girl -->
        <a href="https://grrrl.valentinely.cc/"><img src="/cats/img/madebyagirl.gif" alt="made by a girl clique button, featuring the webkitty's fursona" style="margin-top: 5px;"></a>
        <br>
        <!-- i choose you -->
        <a href="https://pkmn.aquarel.nu" title="I Choose You! | Espurr"><img src="/cats/img/espurr.png" alt="espurr"></a>
        <!-- pixel friends -->
        <a href="https://ac.kuchiki.net/" target="new"><img src="/cats/img/kiki.gif" title="pixel friends | Kiki" alt="kiki"></a>
        <br>
        <!-- rainbow -->
        <span style="filter: drop-shadow(0px 0px 2px linen);">
        <a href="http://cliqued.wings.nu/"><font color="coral">r</font><font color="orange">a</font><font color="gold">i</font><font color="yellowgreen">n</font><font color="cornflowerblue">b</font><font color="mediumpurple">o</font><font color="darkorchid">w</font></a> &#x1F308; <font color="pink" style="background-color: linen; filter: drop-shadow(0px 0px 2px linen);">blush pink</font></span>
        <br>
        <!-- lustre -->
        <a href="http://cliqued.wings.nu/">lustre <img src="/cats/img/pink_stone.png" alt=""></a> padparadscha sapphire
        </div>
    </div>

</div>