<h2>resources, links & extras</h2>
<h3>things i've made</h3>
feel free to use these on your own site! 
<br>credit is appreciated, but only so others can find and use them too!
<br>
<img src="/cats/img/wizard101/moolinda.gif" alt="stamp of moolinda wu"> <img src="/cats/img/wizard101/cyrus.gif" alt="stamp of cyrus drake"> <img src="/cats/img/wizard101/malorn.gif" alt="stamp of malorn ashthorn"> <img src="/cats/img/wizard101/dworgyn.gif" alt="stamp dworgyn"> <img src="/cats/img/wizard101/dalia.gif" alt="stamp of dalia falmea"> <img src="/cats/img/wizard101/lydia.gif" alt="stamp of lydia greyrose"> <img src="/cats/img/wizard101/halston.gif" alt="stamp of halston balestrom"> <img src="/cats/img/wizard101/arthur.gif" alt="stamp of arthur wethersfield"> <img src="/cats/img/wizard101/alhazred.gif" alt="stamp of alhazred">
<h3>things others have made</h3>
<ul>
    <li><a href="https://spiralverse-redirectory.carrd.co/">Spiral Redirectory</a> <em>(big list of wizard101 related links)</em></li>
    <li><a href="https://drive.google.com/drive/folders/16ARgTa-PhBAGGyCkbIPYpGQ91DSFFdUP">Sleepverse Fankit</a> <em>(a bunch of wizard101 assets, recreated by scratch in high quality)</em></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1zJJuPgC4SX8hYaGidOHK6Xq0qclUf8Lhlw9kUBJC45o/edit?usp=sharing">/r/Wizard101 Gear Guide Spreadsheet</a> <em>(gear spreadsheet, mainly for solo PVE)</em></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1u6FjO_1wH-dPsL6D7a-ADxlBWqRi-r_mhu9rY_kwkiU/edit?usp=sharing">Wizard101 Guide</a> <em>(another gear spreadsheet)</em></li>
</ul>
<h3>thanks</h3>
thanks for checking out <em>A Theurgist’s Letter to the Spiral</em>! i hope my web shrine conveyed to you just how much i adore this game. if you enjoyed reading this shrine, maybe you should <a href="https://www.wizard101.com/">give wizard101 a go?</a>
<br><br>anyway, thank you again! see you in the spiral.
<br><br><a href="/shrines">return to shrine main page</a>