<h2>my wizards</h2>
<h3>Emma DreamDreamer</h3>
<div class="flex">

    <div class="wiz_info">

        <img src="/cats/img/wizard101/emma_icon.png" alt="a dialogue portrait of emma dreamdreamer" style="float: left;">

        <br>
        <ul>
            <li><strong>school:</strong> life</li>
            <li><strong>level: </strong>180</li>
            <li><strong>currently: </strong>farming BiS in darkmoor</li>
            <li><strong>creation date: </strong>february 2015</li>
        </ul>
        <br>
        emma dreamdreamer is a wizard that claims to be from marleybone. they are a highly skilled theurgist, known for their ability to heal almost anything! they are an avid gardener who finds joys more in hobbies than saving the world... alas, there's always a healer in need!

        <br><br>while i did have an early childhood account, i've since lost access to it <em>(and honestly, there wasn't anything actually important on it)</em>. when i tried out the game again, i made emma, and i got completely hooked on it! i have so many happy memories on this wizard :)
        <br><br><em>(btw as a kid i thought "dreamdreamer" was hilarious)</em>

    </div>

    <div class="wiz_cutout">
        <img src="/cats/img/wizard101/emma2.png" alt="cut-out of emma dreamdreamer" class="wiz_cutout">
    </div>
</div>

<h3>Brynn StarCatcher</h3>
<div class="flex">

    <div class="wiz_info">

        <img src="/cats/img/wizard101/brynn_icon.png" alt="a dialogue portrait of Brynn StarCatcher" style="float: left;">

        <br>
        <ul>
            <li><strong>school:</strong> ice</li>
            <li><strong>level: </strong>115</li>
            <li><strong>currently: </strong>questing in mirage</li>
            <li><strong>creation date: </strong>december 2017</li>
        </ul>
        <br>
        a harsh survivalist from the bitter chill of polaris, brynn is on a quest to find out what happened to her sister, calamity. while she acts cold on the outside, brynn herself is actually quite kind-hearted. she travels with the rambunctious tiffany legendthief to discover the secrets of the spiral!

        <br><br>brynn was the first character i created to quest with my (now) girlfriend! we started questing on brynn (ice) and calamity (fire), but my girlfriend since swapped to a myth wizard instead (tiffany)! we thought it'd be fun to weave that into their storylines.
        <br><br>currently on semi-hiatus as we're questing on different wizards right now!

    </div>

    <div class="wiz_cutout">
        <img src="/cats/img/wizard101/brynn.png" alt="cut-out of Brynn StarCatcher" class="wiz_cutout">
    </div>
</div>

<h3>Grace DawnSong</h3>
<div class="flex">

    <div class="wiz_info">

        <img src="/cats/img/wizard101/grace_icon.png" alt="a dialogue portrait of Grace DawnSong" style="float: left;">

        <br>
        <ul>
            <li><strong>school:</strong> storm</li>
            <li><strong>level: </strong>84</li>
            <li><strong>currently: </strong>questing in azteca</li>
            <li><strong>creation date: </strong>unknown, likely 2019 ~ 2020</li>
        </ul>
        <br>
        grace is a punky, rebellious storm wizard from wizard city. she came from a known family of powerful wizards, and grace herself is just as powerful as her bloodline. she's highly intelligent and cunning, and very self-assured, but secretly cares so much about her friends. she would stand up for them in a heartbeat!

        <br><br>grace, for the longest time, was kind of stuck at level 30 with nothing much to do. that was until my girlfriend decided "i wanna play a death wizard!" and that gave me the perfect opportunity to finally play grace! playing as a storm wizard is honestly so much fun, and trying to get the best stats for my level is really engaging!

    </div>

    <div class="wiz_cutout">
        <img src="/cats/img/wizard101/grace.png" alt="cut-out of Grace DawnSong" class="wiz_cutout">
    </div>
</div>

<h3>Roslyn WillowWhisper</h3>
<div class="flex">

    <div class="wiz_info">

        <img src="/cats/img/wizard101/roslyn_icon.png" alt="a dialogue portrait of Roslyn WillowWhisper" style="float: left;">

        <br>
        <ul>
            <li><strong>school:</strong> death</li>
            <li><strong>level: </strong>34</li>
            <li><strong>currently: </strong>waiting for next adventure</li>
            <li><strong>creation date: </strong>unknown, likely 2020 ~ 2021</li>
        </ul>
        <br>
        roslyn is a quiet student of the ravenwood school of magical arts. you can find her almost always in a book, so incredibly curious about what comes after death... but why?

        <br><br>roslyn is currently in limbo - i finished grinding mount olympus on her, but now i'm sort of waiting for an opportunity to play her again! maybe once i'm done grinding for gear on emma, roslyn will have another chance to shine!
        <br><br>also, i grinded for the bone dragon from the lost pages on her! i got quite unlucky, i think getting it almost minutes before the end of the event.

    </div>

    <div class="wiz_cutout">
        <img src="/cats/img/wizard101/roslyn.png" alt="cut-out of Roslyn WillowWhisper" class="wiz_cutout">
    </div>
</div>