@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-box-color: #FFF8F3;
    --header-bg-color: #fff4e9;
    --main-bg-color: #ffede8;
    --darker-bg-color: #FFC7C4;
    --bg-nav-color: #FFF4D8;
    --bg-nav-current-color: #fff1cf;
    --nav-link-color: #d18f2d;
    --current-nav-color: #cf640c;
    --main-font-color: #d77943;
    --main-link-color: #17b1b1;
    --border: 2px solid var(--darker-bg-color);

}

::selection {
    background-color: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: 450;
}

a {
    color: var(--main-link-color);
}

a:hover {
    font-style: italic;
    letter-spacing: 0.05rem;
    background-color: var(--bg-nav-current-color);
}

p {
    margin: 0px;
}

header {
    height: 100px;
    background-color: var(--header-bg-color);
    background-image: url("/assets/img/tulips.png");
    background-repeat: repeat-x;
    border-bottom: var(--border);
    border-radius: 10px 10px 0px 0px;
    line-height: 90px;
    text-align: center;
}

h1 {
    margin: 0px;
    font-family: "Sour Gummy", sans-serif;
    padding: 5px;
}

h2 {
    margin: 0px;
    font-size: large;
    border-bottom: 2px solid var(--bg-nav-current-color);
    font-family: "Sour Gummy", sans-serif;
}

nav {
    border-right: var(--border);
    width: 200px !important;
}

nav a {
    color: var(--nav-link-color);
    display: block;
    border-bottom: var(--border);
    padding: 10px;
    background-color: var(--bg-nav-color);
}

main {
    padding: 5px;
    width: 100%;
}

hr {
    border: none;
    height: 11px;
    background-image: url("/assets/img/wiggly.png");
    background-repeat: repeat-x;
}

footer {
    opacity: 50%;
    margin-top: 25px;
    font-size: 0.8rem;
    text-align: center;
}

.thing {
    position: relative;
    width: 0px;
    height: 0px;
    left: 600px;
    top: 220px;
    animation-name: pagedoll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.thing img {
    width: 200px;
}

.flex {
    display: flex;
}

.current {
    color: var(--current-nav-color);
    background-color: var(--bg-nav-current-color);
}

.mainbox-positioning {
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}

.mainbox {
    background-color: var(--main-box-color);
    border-image-slice: 48 48 48 48;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 20px 20px 20px 20px;
    border-image-repeat: round round;
    border-image-source: url("/assets/img/lace.png");
    border-style: solid;
    border-radius: 2px;
}

.innerbox {
    border-image-slice: 27 27 27 27;
    border-image-width: 12px 12px 12px 12px;
    border-image-outset: 5px 4px 5px 4px;
    border-image-repeat: round round;
    border-image-source: url("/assets/img/box.png");
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
}

@keyframes pagedoll {
  0% {top: 220px;}
  50% {top: 230px;}
  100% {top: 220px;}
}