body {
    background-color: floralwhite;
    background-image: url("/cats/img/d04-bg-simple.gif");
    color: sienna;
    margin: 0;
    padding: 30px;
    font-size: 13px;
    line-height: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    color: tan;
    background-color: floralwhite;
}

textarea::selection {
    color: wheat;
    background-color: white;
}

.lace {
    border-color: transparent;
    border-image:  url("/cats/img/lace.gif") 7 /  7px / 0 round;
    border-width:  7px;
    border-style:  solid;
    max-width: 680px;
    margin: auto;
}

.container {
    background-color: snow;
    border: 3px double #d17c3b;
    max-width: 680px;
    margin: auto;
    position: relative;
    border-radius: 3px;
}

header {
    background-image: url("/cats/img/header.gif");
    background-size: contain;
    border-bottom: 3px double #d17c3b;
    height: 140px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

h1 {
    border-bottom: 1px dashed white;
    color: white;
    padding-top: 65px;
    text-align: center;
    filter: 
    drop-shadow(0px 1px lightcoral) 
    drop-shadow(0 -1px lightcoral) 
    drop-shadow(1px 0 lightcoral) 
    drop-shadow(-1px 0 lightcoral);
}

h2 {
    border: 1px dotted yellowgreen;
    border-bottom: 1px solid tan;
    color: darkolivegreen;
    background-color: ivory;
    padding: 2px;
    margin-bottom: 2px;
}

h2::before {
    content: url("/cats/img/f14-icon-flower.gif");
    padding-right: 4px;
}

h3 {
    border: 1px dotted tomato;
    color: lightcoral;
    background-color: rgba(255, 228, 225, 0.5);
    padding: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

h4 {
    border: 1px dotted gold;
    color: burlywood;
    background-color: floralwhite;
    padding: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

h3::before {
    content: url("/cats/img/z08-icon-square.gif");
    padding-right: 4px;
}

h5 {
    border-bottom: 1px dotted sienna;
}

a {
    color: darkolivegreen;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px solid dotted;
    transition: ease-in-out 0.1s;
}

a:hover {
    color: tan;
}

.flex {
    display: flex;
}

nav {
    width: 140px;
    flex-shrink: 0;
    padding: 4px;
    border-right: 1px dotted sandybrown;
    background-image: url("/cats/img/diag_tile.gif");
}

nav a {
    display: block;
    color: lightcoral;
    background: linear-gradient(145deg, floralwhite, seashell);
    border: 1px dotted pink;
    border-bottom: 1px dotted sandybrown;
    text-decoration: none;
    margin: 4px;
    padding: 3px;
    transition: ease-in-out 0.2s;
}

nav a:hover {
    background: linear-gradient(145deg, oldlace, mistyrose);
    padding-left: 6px;
}

nav a::before {
    content: url("/cats/img/j02-icon-flower.gif");
    padding-right: 4px;
}

textarea {
    background-color: white;
    border: 1px dotted sandybrown;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: sienna;
    text-shadow: papayawhip 0px 0px 2px;
}

#latest_art {
    width: 100px;
    border: 1px dotted salmon;
}

main {
    padding: 4px;
    flex: 1;
    background-image: url("/cats/img/bg_tile.gif");
    background-repeat: repeat-x;
    background-position: bottom;
}

em {
    background-color: PapayaWhip;
    font-style: italic;
}

strong {
    color: darkolivegreen;
    font-weight: bold;
}

hr {
    border: none;
    background-image: url("/cats/img/divider.gif");
    background-size: contain;
    height: 9px;
}

.center {
    text-align: center;
}

.small {
    font-size: 10px;
    color: Crimson;
}

ul {
    list-style-image: url("/cats/img/pb13-icon-arrow.gif");
    margin-left: 30px;
}

.scrollbox {
    overflow-y: scroll;
    height: 100px;
    border: 1px dotted salmon;
    background-color: floralwhite;
}

dt {
    border-bottom: 1px dashed pink;
}

.webrings {
    flex-shrink: 1;
    width: 50%;
    margin-right: 2.5px;
}

.cliques {
    flex: 1;
    margin-left: 2.5px;
}

#kitty {
    image-rendering: crisp-edges;
    position: absolute;
    background-image: url("/cats/img/kitty.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 97px;
    height: 114px;
    top: 70px;
    right: -50px;
    z-index: 100;
    filter: 
    drop-shadow( 1px 0px 0px #ffeeeb) 
    drop-shadow(-1px 0px 0px #ffeeeb)
    drop-shadow( 0px 1px 0px #ffeeeb) 
    drop-shadow( 0px -1px 0px #ffeeeb)
    drop-shadow( 0px 0px 1px #ffeeeb)
    drop-shadow( 0px 0px 1px pink);
}

#strawberry {
    image-rendering: crisp-edges;
    position: absolute;
    background-image: url("/cats/img/strawberry.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 41px;
    height: 48px;
    top: 10px;
    right: 5px;
    z-index: 100;
    filter: 
    drop-shadow( 1px 0px 0px #ffeeeb) 
    drop-shadow(-1px 0px 0px #ffeeeb)
    drop-shadow( 0px 1px 0px #ffeeeb) 
    drop-shadow( 0px -1px 0px #ffeeeb)
    drop-shadow( 0px 0px 1px #ffeeeb)
    drop-shadow( 0px 0px 1px pink);
}

#apple {
    image-rendering: crisp-edges;
    position: absolute;
    background-image: url("/cats/img/apple.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
    top: -5px;
    right: 70px;
    z-index: 100;
    filter: 
    drop-shadow( 1px 0px 0px #ffeeeb) 
    drop-shadow(-1px 0px 0px #ffeeeb)
    drop-shadow( 0px 1px 0px #ffeeeb) 
    drop-shadow( 0px -1px 0px #ffeeeb)
    drop-shadow( 0px 0px 1px #ffeeeb)
    drop-shadow( 0px 0px 1px pink);
}

#pudding {
    image-rendering: crisp-edges;
    position: absolute;
    background-image: url("/cats/img/pudding.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 42px;
    height: 51px;
    top: 50px;
    left: -20px;
    z-index: 100;
    filter: 
    drop-shadow( 1px 0px 0px #ffeeeb) 
    drop-shadow(-1px 0px 0px #ffeeeb)
    drop-shadow( 0px 1px 0px #ffeeeb) 
    drop-shadow( 0px -1px 0px #ffeeeb)
    drop-shadow( 0px 0px 1px #ffeeeb)
    drop-shadow( 0px 0px 1px pink);
}

#cherry {
    image-rendering: crisp-edges;
    position: absolute;
    background-image: url("/cats/img/cherry.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 43px;
    height: 49px;
    top: 85px;
    left: 30px;
    z-index: 100;
    filter: 
    drop-shadow( 1px 0px 0px #ffeeeb) 
    drop-shadow(-1px 0px 0px #ffeeeb)
    drop-shadow( 0px 1px 0px #ffeeeb) 
    drop-shadow( 0px -1px 0px #ffeeeb)
    drop-shadow( 0px 0px 1px #ffeeeb)
    drop-shadow( 0px 0px 1px pink);
}

#apricot {
    image-rendering: crisp-edges;
    position: absolute;
    background-image: url("/cats/img/apricot.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 51px;
    height: 52px;
    bottom: -30px;
    right: -30px;
    z-index: 100;
    filter: 
    drop-shadow( 1px 0px 0px #ffeeeb) 
    drop-shadow(-1px 0px 0px #ffeeeb)
    drop-shadow( 0px 1px 0px #ffeeeb) 
    drop-shadow( 0px -1px 0px #ffeeeb)
    drop-shadow( 0px 0px 1px #ffeeeb)
    drop-shadow( 0px 0px 1px pink);
}

.heart {
    image-rendering: crisp-edges;
    position: absolute;
    background-image: url("/cats/img/heart.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 16px;
    z-index: 100;
    filter: 
    drop-shadow( 1px 0px 0px #ffeeeb) 
    drop-shadow(-1px 0px 0px #ffeeeb)
    drop-shadow( 0px 1px 0px #ffeeeb) 
    drop-shadow( 0px -1px 0px #ffeeeb)
    drop-shadow( 0px 0px 1px #ffeeeb)
    drop-shadow( 0px 0px 1px pink);
}

.star {
    image-rendering: crisp-edges;
    position: absolute;
    background-image: url("/cats/img/star.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px;
    height: 11px;
    z-index: 100;
    filter: 
    drop-shadow( 1px 0px 0px #ffeeeb) 
    drop-shadow(-1px 0px 0px #ffeeeb)
    drop-shadow( 0px 1px 0px #ffeeeb) 
    drop-shadow( 0px -1px 0px #ffeeeb)
    drop-shadow( 0px 0px 1px #ffeeeb)
    drop-shadow( 0px 0px 1px pink);
}

#meIMG {
    width: 100px;
    border: 1px dotted salmon;
    margin-right: -10px;
}

.blog_img {
    width: 50%;
    display: block;
    border: 1px dotted burlywood;
    margin-top: 5px;
    margin-bottom: 5px;
}

.excerpt_HIDE {
    display: none;
}

.excerpt_SHOW .excerpt_HIDE {
    display: inline !important;
}

.post_ul {
    margin-left: 0px;
}

.post_li {
    list-style-type: none;
    list-style-image: none;
}

.div_blog {
    border: 1px dotted burlywood;
    background-color: seashell;
    padding: 5px;
    margin: 5px;
    transition: ease-in-out 0.2s;
}

.div_blog:hover {
    background-color: linen;
}

.a_blog {
    color: #d17c3b;
}

#shrine_wizard {    
    image-rendering: crisp-edges;
    display: block;
    color: white;
    padding: 20px;
    background-image: url("/cats/img/wizard101/header.png");
    background-size: cover;
    background-position: 10%;
    border: 3px double burlywood;
    position: relative;
    transition: 0.2s ease-in-out;
}

#shrine_wizard:hover {
    filter: brightness(120%);
}

#shrine_wizard span {
    font-weight: bold;
    filter: drop-shadow(0px 1px green) drop-shadow(0 -1px green) drop-shadow(1px 0 green) drop-shadow(-1px 0 green);
}

#forest_beast {
    image-rendering: crisp-edges;
    position: absolute;
    background-image: url("/cats/img/wizard101/forest_beast.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    top: 0px;
    right: 20px;
    z-index: 100;
    filter: 
    drop-shadow( 1px 0px 0px tan) 
    drop-shadow(-1px 0px 0px tan)
    drop-shadow( 0px 1px 0px tan) 
    drop-shadow( 0px -1px 0px tan)
    drop-shadow( 0px 0px 1px tan)
    drop-shadow( 0px 0px 1px brown);
}

.artbox {
    text-align: center;
}

.artbox img {
    height: 300px;
    border: 1px dotted brown;
    position: relative;
    transition: 0.1s ease-in-out;
    top: 0;
}

.artbox img:hover {
    top: -2px;
}

.website_button {
    margin-right: 5px;
}

.socials {
    flex-grow: 1;
}

footer {
    border-top: 1px solid #d17c3b;
    background-image: url("/cats/img/clover_tile.gif");
    color: snow;
    background-color: green;
    font-weight: bold;
    padding: 4px;
    font-size: 10px;
    text-align: center;
}


/* mobile compatibility */

@media (max-width: 768px) {
  .flex {
    display: inline;
  }
  .webrings {
    width: 100%;
    margin-right: 0px;
  }
  .cliques {
    margin-left: 0px;
  }
  nav {
    width: auto;
    border-right: none;
    border-bottom: 1px dotted sandybrown;
  }
  .blog_img {
    width: 100%;
  }
  .artbox {
    margin-right: 2px;
  }
  .artbox img {
    text-align: center;
    margin: auto;
    max-width: 100%;
  }
  .website_button {
    margin-right: 0px;
  }
}