<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="icon" href="/assets/img/cat.gif">
  <meta name="theme-color" content="#ffcdb5">
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">
</head>

<body>
  <div class="lace_container">
    <div class="container">
      <header><h1>{{ page.title }}</h1></header>
      <nav>{% include nav.html %}</nav>
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>
  </div>
  <script>

  </script>
</body>

</html>