<!-- ฅ₍^•⩊ •マⳊ -->
<!-- hi! feel free to copy bits of code, as long as it's not the entire layout :3 -->
<!-- have a nice day! -->
<!doctype html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="meowpricot">
    <meta name="description" content="meowpricot's personal site for all their hobbies!">
    <!-- embed tags -->
    <meta property="og:title" content="meowpricot.art" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://meowpricot.art" />
    <meta property="og:image" content="https://meowpricot.art/cats/img/site_embed.png" />
    <meta property="og:description" content="meowpricot's personal site for all their hobbies!" />
    <meta name="theme-color" content="#FFB6C1">
    <!-- end meta tags -->
    <title>{{ page.title }} ~ meowpricot.art</title>
    <!-- link relationships -->
    <link rel="shortcut icon" href="/cats/img/favicon.gif">
    <link rel="stylesheet" href="/cats/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/cats/css/biscuit.css?v=1.1" type="text/css">
    <!-- fancybox -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.umd.js"></script>
  </head>
  <body>
    <script>
        Fancybox.bind("[data-fancybox]", {
        // Your custom options
        });
    </script>
    <div class="lace">
      <div class="container">
          <div id="pudding"></div>
          <div class="heart" style="top: 30px; left: 10px;"></div>
          <div class="star" style="top: 5px; left: 3px;"></div>
          <div class="star" style="top: 105px; left: 10px;"></div>
          <div id="cherry"></div>
          <div id="apple"></div>
          <div id="strawberry"></div>
          <div class="star" style="top: 5px; right: 40px;"></div>
          <div class="heart" style="top: 70px; right: 30px;"></div>
          <div class="star" style="top: 90px; right: 50px;"></div>
          <div id="kitty"></div>
          <header>{% include header.html %}</header>
          <div class="flex">
          <nav>{% include nav.html %}</nav>
          <main>{{ content }}</main>
          </div>
          <footer>{% include footer.html %}</footer>
          <div class="star" style="bottom: 80px; left: 5px;"></div>
          <div class="heart" style="bottom: 50px; left: -10px;"></div>
          <div class="star" style="bottom: 30px; left: 0px;"></div>
          <div class="star" style="bottom: 50px; right: -5px;"></div>
          <div class="heart" style="bottom: 30px; right: 10px;"></div>
          <div id="apricot"></div>
      </div>
    </div>
  </body>
</html>
<!-- ₍^. .^₎Ⳋ -->